<h1>Change Artist Details</h1>

<%= form_for(@artist) do |f| %>
    <%= f.label :name_label, "Artist Name:" %>
    <%= f.text_field :name %>
    <%= f.label :bio_label, "Artist Bio:" %>
    <%= f.text_area :bio %>
    <%= f.submit "Update Artist" %>
<% end %>