<h1>Editing <%= @artist.name %></h1>

<%= form_for @artist do |f| %>
	<div style="padding-bottom: 10px;">
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div>
	<div style="padding-bottom: 10px;">
		<%= f.label :bio %>
		<%= f.text_area :bio %>
	</div>
	<div style="padding-bottom: 10px;">
		<%= f.submit %>
	</div>
<% end %>
