<h1>Editting <%= @song.name %></h1>

<%= form_for @song do |f| %>
	<div style="padding-bottom: 10px;">
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div>
	<div style="padding-bottom: 10px;">
		<%= f.label :artist_id, "Artist" %>
		<%= f.text_area :artist_id %>
	</div>
	<div style="padding-bottom: 10px;">
		<%= f.label :genre_id, "Genre" %>
		<%= f.text_area :genre_id %>
	</div>
	<div style="padding-bottom: 10px;">
		<%= f.submit %>
	</div>
<% end %>
