<!DOCTYPE html>
<html>
<head>
  <title>BeatsByRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<nav>
		<span style="padding-left: 10px;">
			<%= link_to "Show all Artists", artists_path %>
		</span>
		<span style="padding-left: 10px;">
			<%= link_to "Show all Songs", songs_path %>
		</span>
		<span style="padding-left: 10px;">
			<%= link_to "Show all Genres", genres_path %>
		</span>
	</nav>

<%= yield %>

</body>
</html>
